include ../_components/data
include ../_components/mixins
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='description' content=`${site.description}`)
  meta(name='keywords' content='keywords')
  // OpenGraph
  meta(property='og:url' content=`${site.url}`)
  meta(property='og:title' content=`${site.title}`)
  meta(property='og:description' content=`${site.description}`)
  meta(property='og:type' content='website')
  meta(property='og:image' content=`${site.url}${site.logo}`)
  meta(property='og:image:type' content='image/png')
  meta(property='og:image:alt' content='Логотип')
  meta(property='og:site_name' content=`${site.title}`)
  meta(property='og:locale' content='ru_RU')
  // End OpenGraph
  // Fonts
  each font in fonts
    link(rel='preload' href=`/fonts/${font}.woff2` as='font' crossorigin)
  // End Fonts
  // Favicon
  link(rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png")
  link(rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png")
  link(rel="manifest" href="/favicon/site.webmanifest")
  link(rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5")
  link(rel="icon" type="image/x-icon" href="/favicon/favicon.ico")
  meta(name="msapplication-TileColor" content="#da532c")
  meta(name="theme-color" content="#ffffff")

  script(src="/libs/js/font-awesome-kit.js")
  // End Favicon

  title=site.title
